<%
   prev_path = show_home_path({:year => @month_info[:prev_year], :month => @month_info[:prev_month]})
   next_path = show_home_path({:year => @month_info[:next_year], :month => @month_info[:next_month]})

   def render_invisible_dates
     html = ''
     month_start = @month_info[:dates].first[:date]
     i = 0
     while i < month_start.wday
       html += '<div class="date-container invisible-date-container"></div>'
       i += 1;
     end
     return html
   end
%>
<div class="nav">
  <a class="nav-button" href="<%=prev_path%>">&#60;</a>
  <label><%=@month_info[:dates].first[:date].strftime("%B") + ' ' +  @month_info[:year].to_s%></label>
  <a class="nav-button" href="<%=next_path%>">&#62;</a>
</div>
<div class="month-container">
  <%
     html = render_invisible_dates
     @month_info[:dates].each do |di|
       html += render partial: 'date', locals: {date_info: di}
     end
  %>
  <%= html.html_safe %>

</div>

<script>
    $(document).ready(function() {
        month_page = new MonthPage({
            create_url: '<%=new_request_path%>',
            delete_url: '<%=requests_path%>'
        });
    });
</script>