<!DOCTYPE html>
<html>
<head>
  <title>Food Service</title>
  <%= stylesheet_link_tag    :application, media: "all" %>
  <%= javascript_include_tag :application %>

  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="<%= image_url('icons-meat.png') %>">
</head>
<body>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<div id="header">
    <div id="logo">
        <a href="<%=home_path%>" id="logo-icon" ></a>
        <h1>Food Service</h1>
    </div>
    <%= render 'layouts/menu'%>
    <div id="user-info">
        <% if current_user %>
            <%= link_to current_user[:login], log_out_path, :title => 'Log out' %>
        <% end %>
    </div>
</div>

<%= yield %>

</body>
</html>
